#ScrollToTop{
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999; 
    display: none;
    opacity: 0.4;
    -webkit-transition: opacity 300ms; /* Safari */
    transition: opacity 300ms;
}

#ScrollToTop:hover{
    opacity: 1 !important;
}