#header-container{
    width: 100%;
    height: 100vh;
}
#header-background{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./assets/header-background.jpg);
    background-size: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

#header-overlay{
    margin: 0;
    margin-top: -18px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#header-title{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 80px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    margin: auto;
    margin-top: 40vh;
    text-align: center;
}

#navigation-bar{
    z-index: 999;
    background-color: transparent;
    height: 60px;
    width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    position: fixed;
    margin-top: 0px;
    overflow: hidden;
    -webkit-transition: background-color 2s, height 500ms; /* Safari */
    transition: background-color 2s, margin 500ms;
}
.icon{
    margin: 5px 10px;
}
.button{
    margin: 15px 10px;
}
#social-links{
    background-color: transparent;
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#LinkedIn-icon{
    width: 30px;
}
#LinkedIn-button{
    background-color: transparent;
    border-radius: 6px;
    -webkit-transition: background-color 600ms; /* Safari */
    transition: background-color 600ms;
}
#LinkedIn-button:hover{
    background-color: #45b29a;
}
#navigation-buttons-container{
    border-style: none;
    background-color: transparent;
    width: 25%;
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media(max-width: 400px){
    #social-links{
        display: none !important;
    }
    #navigation-buttons-container{
        width: 100%;
    }
}


.navigation-button{
    width: 33%;
    font-family: Open Sans;
    color: rgb(38, 38, 38);
    max-width: 100px;
    background-color: transparent;
    border-style: none;
    height: 30px;
    border-radius: 6px;
    -webkit-transition: background-color 600ms; /* Safari */
    transition: background-color 600ms;
    outline: none;
}

.navigation-button:hover{
    background-color: #45b29a;
}