#Projects-container{
    width: 100%;
    height: 1600px;
    align-items: center;
}

#Projects-title{
    background-color: transparent;
    text-align: center;
    margin-top: 70px;
    font-size: 3.4vw;
    color: white;
}
#Projects-background{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 1600px;
    background-image: url('./assets/projects-bg.jpg');
    background-size: cover;;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

#Projects-overlay{
    margin: 0;
    margin-top: -18px;
    position: absolute;
    width: 100%;
    height: 1600px;
    background-color: rgba(0, 0, 0, 0.3);
}
#Projects-elements::-webkit-scrollbar {
    display: none;
}

.Project-Photo{
    width: 95%;
}

#Projects-elements{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    max-width: 2116px;
}
@media (max-width: 900px){
    .Project-Photo-Container{
        width: 90% !important;
        height: 50vw !important;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}
.Project-Photo-Container{
    width: 45%;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgba(103, 152, 149, 0.95);
    background-color: rgba(246, 246, 246, 0.8);
    -webkit-transition: background-color 300ms, border-color 300ms; /* Safari */
    transition: background-color 300ms, border-color 300ms;
    cursor: pointer;
    max-height: 344px;
    max-width: 700px;
}
@media (min-width: 900px){
    .Project-Photo-Container:hover{
        background-color: rgba(103, 152, 149, 0.9);
        border-color: white;
    }
}
@media (max-width: 1859px){
    .Project-Photo-Container{
        max-width: 614px;
        max-height: 320px;
    }
}